@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IranYekanX';
    src: url('../font/IRANYekanX-Bold.woff2') format('woff2'), /* فرمت‌های دیگر نیز اضافه کنید */
        url('../font/IRANYekanX-Bold.woff') format('woff');
    font-style: normal; /* سبک فونت (normal یا italic) */
    }


.font-custom {
    font-family: IranYekanX;
}

.box {
    /* position: relative; */
    margin: 100px auto;
    width: 1150px;
    height: 75px;
    background-color: #3e3e3e;
    border-radius: 30px 30px 0 0;
}

.box::before {
    content: " ";
    position: absolute;
    background-color: rgb(28, 32, 71);
    width: 1100px;
    height: 60px;
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 10px #333;
}